.account-wrapper {
    display: flex;
    flex-flow: column;
    height: calc(100vh - 95px);
}

.user-info {
    display: flex;
    max-width: 1140px;
    padding: 0 80px;
    margin: 20px auto 0;
    align-items: center;
}

.user-name {
    font-size: 36px;
    line-height: 80px;
    font-weight: bold;
}

.footer {
    width: 100%;
    min-height: 300px;
    background: #000;
    margin-top: auto;
    display: flex;

    .user-name {
        display: block;
        margin-top: auto;
        color: #fff;
        margin-left: 30%;
    }
}

.user {
    &__data {
        width: 360px;
    }
    &_image_wrapper { 
        margin-right: 90px;
        border-radius: 100%;
        display: flex;
        flex: 0 0 378px;
        height: 378px;
        width: 378px;
        justify-content: center;
        overflow: hidden;
        position: relative;
    }
    &_image {
        height: 100%;
    }
    &_edit_image_btn {
        align-items: center;
        bottom: 0;
        display: flex;
        justify-content: center;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity 0.25s;
        z-index: 1;
        font-weight: 700;
        font-size: 24px;
        line-height: 80px;
        color: #3D3D3D;
        background-color: rgba(196, 196, 196, 0.5);
        &:hover {
            opacity: 1;
        }
    }
    &_input_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &_label {
        font-size: 24px;
        font-weight: bold;
        line-height: 80px;
    }
    &_input {
        border-bottom: 2px solid #000;
        max-width: 244px;
        font-size: 24px;
        font-weight: 400;
        padding-left: 8px;
        &:focus {
            outline: none;
        }
    }
}
