.account-wrapper {
    display: flex;
    flex-flow: column;
    height: calc(100vh - 95px);
}

.user-info {
    display: flex;
    max-width: 1160px;
    padding: 0 80px;
    margin: 0 auto;
}

.photo {
    width: 378px;
    height: 378px;
    border-radius: 50%;
    margin-right: 90px;
    display: block;
}

.user-name {
    font-size: 36px;
    line-height: 80px;
    font-weight: bold;
}

.footer {
    width: 100%;
    min-height: 300px;
    background: #000;
    margin-top: auto;
    display: flex;

    .user-name {
        display: block;
        margin-top: auto;
        color: #fff;
        margin-left: 30%;
    }
}
