.carousel__arrow {
  margin-top: 164px;
  cursor: pointer;
  font-weight: 700;
  font-size: 72px;
  color: #000;
}

.carousel__arrow:hover {
  transition: 0.3s;
  color: rgba(0, 0, 0, 0.856);
}

.carousel__arrow_left {
  /* margin-left: 10vw; */
  margin-right: 20px;
}

.carousel__arrow_right {
  /* margin-right: 10vw; */
  margin-left: 20px;
}